<html>
<head>
	<title>cpustejovsky</title>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"/>	
	<link rel="stylesheet" href="/assets/index.css" />
</head>