<html>

<head>
  <title>cpustejovsky</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/index.css" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="/assets/bootstrap.min.js"></script>
</head>

<body class="">
  <div class="container homepage__container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">cpustejovsky <i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reading-list">Reading List</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" target="_blank" href="/life-together-calculator">Life Together Calculator</a>
              <a class="dropdown-item" target="_blank" href="https://github.com/cpustejovsky/estuary">Estuary</a>
              <a class="dropdown-item" target="_blank"
                href="https://github.com/cpustejovsky/CharlesPustejovsky-2019-Promises">Async
                JavaScript Practice Project</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link social-icon" href="https://github.com/cpustejovsky" target="_blank"><i
                class="fa fa-github" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link social-icon" href="https://twitter.com/CCPustejovsky" target="_blank"><i
                class="fa fa-twitter-square" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link social-icon" href="https://www.linkedin.com/in/charlespustejovsky/" target="_blank"><i
                class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link social-icon" href="mailto:charles.pustejovsky@gmail.com" target="_blank"><i
                class="fa fa-envelope-o" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</body>

</html>