<h1>Projects</h1>
<p>
  The best way to learn is be doing and building. One of my weaknesses is that I
  try to be a perfectionist and procrastinate. The beautiful thing is that
  programming doesn't allow for that. I can't just read about JavaScript or
  NodeJS, I have to build something to really learn it. So here is a growing
  list or probjects I am working on:
</p>
<hr>
<h4>Life Together Calculator</h4>
<p>
  The first application I created which calculated how long my wife and I had
  known each other and showed what percentage of our lives that was. <strong>It gave me hands on experience with working with the DOM and JavaScript's Date Object.</strong> I have
  since then made it interactive so anyone with a significant other can
  calculate their life together.
  <ul>
    <li><a href="/life-together-calculator">Calculator</a></li>
    <li><a href="https://github.com/cpustejovsky/personalWebsite/blob/master/routes/lifeTogether.js" target="_blank">Code</a></li>
  </ul>
</p>
<h4>Estuary</h4>
<p>With Estuary is can record and save my stream consciousness writing sessions, have any notes or todos saved without leaving the writing sessions, and have those notes emailed to me every 24 hours.</p>
<strong>This app is where I've put my NodeJS and MongoDB skills to the test. I've set up routes, built models and schemas, learned how to send emails and schedule cron jobs inside the app. I'm also setting up unit tests with Mocha and deploying with MongoDB Compass and Heroku.</strong>
<ul>
  <li><a href="https://cpustejovsky-estuary.herokuapp.com/" target="_blank">Estuary</a></li>
  <li><a href="https://github.com/cpustejovsky/estuary" target="_blank">Code</a></li>
</ul>
<h4>Public/Private Key Signing App</h4>
<p>Application I worked on to better understand cryptography and asynchronous code. <strong>This probject helped me get a better understanding of NodeJS's Crypto module.</strong> It should go without saying, but <strong>do not use this! I'm rolling my own cryptography here for learning purposes only.</strong></p>
<ul>
  <li><a target="_blank" href="https://github.com/cpustejovsky/CharlesPustejovsky-2019-v2">Code</a></li>
</ul>
<h4>GDPR Toggler</h4>
<p>Love it or hate it, GDPR is a reality for businesses so I created a jQuery script to dynamically display an opt-in option for countries where that option was required (I used this <a href="https://community.unbounce.com/t/how-to-use-geotargeting-to-display-a-visitors-location-on-a-page/5739" target="_blank">AJAX script</a> to determine the country by IP address). <strong>This was my first real taste of working with jQuery.</strong> The scripts would need customization for the countries and for the specific assets that are being displayed or hidden.</p>
<ul>
  <li><a target="_blank" href="https://github.com/cpustejovsky/learnedingJavaScript/blob/master/useful_scripts/fieldHider.html">Field Hiding Option</a></li>
  <li><a target="_blank" href="https://github.com/cpustejovsky/learnedingJavaScript/blob/master/useful_scripts/radialToggler.html">Radial Toggling Option</a></li>
  <li><a target="_blank" href="https://unbounce.bitpay.com/landing/blockchain-and-chargebacks-ebook/">Landing Page This is Used On</a></li>
</ul>
<h4>BitPay Blog Redesign</h4>
<p>As a content writer at BitPay, I guess I took owning the blog a bit too literally and redesigned it. I forked Ghost's Casper theme and modified it with the help of an amazing marketing designer to give it a modern look.</p>
<div class="row">
  <div class="col-md-6">
    <h5>Before</h5>
    <img src="/assets/images/blog_before.png"
      alt="BitPay Blog Before"
      class="blog-img" >
      <hr style="border: 5px solid transparent;">
  </div>
  <div class="col-md-6">
    <h5>After</h5>
    <img src="/assets/images/blog_after.png"
      alt="BitPay Blog After"
      class="blog-img">
  </div>  
</div>
