<h1>Projects</h1>
<p>The best way to learn is be doing and building. One of my weaknesses is that I try to be a perfectionist and
  procrastinate. The beautiful thing is that programming doesn't allow for that. I can't just read about JavaScript or
  NodeJS, I have to build something to really learn it. So here is a growing list or probjects I am working on:</p>
<ul>
  <li><a href="/life-together-calculator">Life Together Calculator</a></li>
  <li><a target="_blank" href="https://github.com/cpustejovsky/estuary">Estuary</a></li>
  <li><a target="_blank" href="https://github.com/cpustejovsky/CharlesPustejovsky-2019-v2">Async NodeJS Practice
      Project</a></li>
</ul>