<h1>Projects</h1>
<p>
  The best way to learn is be doing and building. One of my weaknesses is that I
  try to be a perfectionist and procrastinate. The beautiful thing is that
  programming doesn't allow for that. I can't just read about JavaScript or
  NodeJS, I have to build something to really learn it. So here is a growing
  list or probjects I am working on:
</p>
<hr>
<h4>Life Together Calculator</h4>
<p>
  The first application I created. It calculated how long my wife and I had
  known each other and showed what percentage of our lives that was. I have
  since then made it interactive so anyone with a significant other can
  calculate their life together.
  <ul>
    <li><a href="/life-together-calculator">Calculator</a></li>
    <li><a href="https://github.com/cpustejovsky/personalWebsite/blob/master/routes/lifeTogether.js" target="_blank">Code</a></li>
  </ul>
</p>
<h4>Estuary</h4>
<p>There is a great site called <a href="https://750words.com/" target="_blank"> 750 Words</a> designed for doing <em>morning pages</em>. I ended up using it to get all my thoughts out in one place. My goal with Estuary is to create an app that records a stream consciousness writing session, but with the functionality to record and save any important things I think of while typing.</p>
<ul>
  <li><a href="https://cpustejovsky-estuary.herokuapp.com/" target="_blank">Estuary</a></li>
  <li><a href="https://github.com/cpustejovsky/estuary" target="_blank">Code</a></li>
</ul>
<h4>Public/Private Key Signing App</h4>
<p>Application I'm continuing to work on to better understand cryptography and asynchronous code. It should go without saying, but <strong>do not use this! I'm rolling my own cryptography here for learning purposes only.</strong></p>
<ul>
  <li><a target="_blank" href="https://github.com/cpustejovsky/CharlesPustejovsky-2019-v2">Code</a></li>
</ul>
