<br />
<h1>Reading List</h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <h4>The Pragmatic Programmer</h4>
  </div>
  <div class="col-md-8">
    <p>
      Description coming soon
    </p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-4">
    <h4>Grokking Algorithms</h4>
    <img src="/assets/images/grokking_algorithms.jpg" alt="Grokking Algorithms" class="contained-img" />
  </div>
  <div class="col-md-8">
    <p>
      One of my long-term goals is to slowly learn the concepts and ideas I
      would have in a traditional computer science course at a university.
      Grokking Algorithms by Aditya Y. Bhargava is a great place to start
      that journey.
    </p>
  </div>