<br />
<h1>Reading List</h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <img
      src="/assets/images/tpp20.jpg"
      alt="Grokking Algorithms"
      class="contained-img"
    />
  </div>
  <div class="col-md-8">
    <h4>The Pragmatic Programmer</h4>
    <p>
      It feels providential that I procrastinated on buying this book until the
      20th anniversary update came out. I'm looking forward to going through the
      advice David Thomas and Andrew Hunt have to offer.
    </p>
  </div>
</div>
<hr style="border: 1px solid #bababa" />
<div class="row">
  <div class="col-md-4">
    <img
      src="/assets/images/masteringEthereum.jpg"
      alt="Grokking Algorithms"
      class="contained-img"
    />
  </div>
  <div class="col-md-8">
    <h4>Mastering Ethereum</h4>
    <p>
      Ethereum is, without a doubt, my favorite cryptocurrency. I'm excited about it's potential and want to learn to build smart contracts on the Ethereum network. So I've started reading about it.
    </p>
  </div>
</div>
<hr style="border: 1px solid #bababa" />
<div class="row">
  <div class="col-md-4">
    <img
      src="/assets/images/grokking_algorithms.jpg"
      alt="Grokking Algorithms"
      class="contained-img"
    />
  </div>
  <div class="col-md-8">
    <h4>Grokking Algorithms</h4>
    <p>
      One of my long-term goals is to slowly learn the concepts and ideas I
      would have in a traditional computer science course at a university.
      Grokking Algorithms by Aditya Y. Bhargava is a great place to start that
      journey.
    </p>
  </div>
</div>
