<br />
<h1>Reading List</h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <img
      src="/assets/images/gtd.jpg"
      alt="Grokking Algorithms"
      class="contained-img"
    />
  </div>
  <div class="col-md-8">
    <h4>Getting Things Done</h4>
    <p>I really jive with the system that David Allen laid out and it's the system that I am rebuilding <a href="https://cpustejovsky-estuary.herokuapp.com/">Estuary</a> around.</p>
  </div>
</div>
<hr style="border: 1px solid #bababa" />
<div class="row">
  <div class="col-md-4">
    <img
      src="/assets/images/tpp20.png"
      alt="Grokking Algorithms"
      class="contained-img"
    />
  </div>
  <div class="col-md-8">
    <h4>The Pragmatic Programmer</h4>
    <p>
      It feels providential that I procrastinated on buying this book until the
      20th anniversary update came out. I'm looking forward to going through the
      advice David Thomas and Andrew Hunt have to offer.
    </p>
  </div>
</div>
<hr style="border: 1px solid #bababa" />
<div class="row">
  <div class="col-md-4">
    <img
      src="/assets/images/grokking_algorithms.jpg"
      alt="Grokking Algorithms"
      class="contained-img"
    />
  </div>
  <div class="col-md-8">
    <h4>Grokking Algorithms</h4>
    <p>
      One of my long-term goals is to slowly learn the concepts and ideas I
      would have in a traditional computer science course at a university.
      Grokking Algorithms by Aditya Y. Bhargava is a great place to start that
      journey.
    </p>
  </div>
</div>
