<html lang="en">

<head>
  <title>cpustejovsky</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Programming is my passion and I want to use my passion and skills to provide value for your company as a full-stack JavaScript developer.">
  <meta property="og:title" content="Cpustejovsky: A Self-Taught Developer on a Path of Continual Learning">
  <meta property="og:description" content="Programming is my passion and I want to use my passion and skills to provide value for your company as a full-stack JavaScript developer.">
  <meta property="og:image" content="/assets/images/cpustejovsky.png">
  <meta name="twitter:card" content="/assets/images/cpustejovsky.png">  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/index.css" />

  <script src="https://kit.fontawesome.com/fdfa0728ae.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="/assets/bootstrap.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147269757-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-147269757-1");
  </script>
</head>

<body class="">
  <div class="container homepage__container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">cpustejovsky <i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/resources">Resources</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Other Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" target="_blank" href="https://cpustejovsky-estuary.herokuapp.com/">Estuary</a>
              <a class="dropdown-item" target="_blank" href="https://www.npmjs.com/package/cpustejovsky-twitter-bot">Twitter Bot</a>
              <a class="dropdown-item" target="_blank"
                 href="https://github.com/cpustejovsky/key-storage-signing-app">Public/Private Key Signing
                App</a>
              <a class="dropdown-item" href="/life-together-calculator">Life Together Calculator</a>

              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link social-icon" href="https://github.com/cpustejovsky" target="_blank"><i
                class="fab fa-github" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link social-icon" href="https://dev.to/cpustejovsky" target="_blank">
              <i class="fab fa-dev" title="cpustejovsky's DEV Profile"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link social-icon" href="https://twitter.com/CCPustejovsky" target="_blank"><i
                class="fab fa-twitter-square" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link social-icon" href="https://www.linkedin.com/in/cpustejovsky/" target="_blank"><i
                class="fab fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link social-icon" href="mailto:charles.pustejovsky@gmail.com" target="_blank"><i
                class="fa fa-envelope-o" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>