<% include partials/header%>
<body>
  <div class="container homepage__text">
    <h1>About Me</h1>
    <div class="row">
      <h2>Skills</h2>
    </div>
    <script>
    /*
    Let's image a list of skills and interests with a small image to the left standing in for a li decoration. I can use those as header and hyperlink example of where those skills are showcased. blog posts for BTC and ETH; github repos for the other stuff
    */
    </script>
    <div class="row">
      <div class="col-md-3 testborder">
        <img
          src="/assets/images/js.png"
          alt="javascript"
          class="rounded img-fluid"
        />
      </div>
      <div class="col-md-3 testborder">
        <img
          src="/assets/images/ts.jpeg"
          alt="typescript"
          class="rounded img-fluid"
        />
      </div>
      <div class="col-md-3 testborder">
        <img
          src="/assets/images/node.png"
          alt="nodejs"
          class="rounded img-fluid"
        />
      </div>
      <div class="col-md-3 testborder">
        <img
          src="/assets/images/mongodb.png"
          alt="Mongo DB"
          class="rounded img-fluid"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 testborder">
        <img
          src="/assets/images/css.png"
          alt="CSSS"
          class="rounded img-fluid"
        />
      </div>
      <div class="col-md-3 testborder">
        <img
          src="/assets/images/git.jpg"
          alt="git"
          class="rounded img-fluid"
        />
      </div>
      <div class="col-md-3 testborder">
        <img
          src="/assets/images/btc.png"
          alt="Bitcoin"
          class="rounded img-fluid"
        />
      </div>
      <div class="col-md-3 testborder">
        <img
          src="/assets/images/eth.png"
          alt="Ethereum"
          class="rounded img-fluid"
        />
      </div>
    </div>
    <h1>About Me</h1>
    <h2>Skills</h2>
    <ul>
      <li>JavaScript(proficient)</li>
      <li>NodeJS</li>
      <li>MongoDB</li>
      <li>Git</li>
      <li>Python(fluent)</li>
      <li>CSS</li>
      <li>Using build tools like Gulp || Yarn || Grunt</li>
      <li>
        Writing (e-Books, explanations of cryptocurrency and blockchain, etc.)
      </li>
    </ul>
    <h2>Interests</h2>
    <ul>
      <li>Cryptocurrency</li>
      <li>Cybersecurity</li>
      <li>Automation</li>
      <li>Hacking Productivity</li>
    </ul>
  </div>

  <% include partials/footer%>