<% include partials/header%>
<body>
<div class="container homepage__text">
  <br />
  <h1>About Me</h1>
  <h2>Skills</h2>
  <ul>
    <li>JavaScript(proficient)</li>
    <li>NodeJS</li>
    <li>MongoDB</li>
    <li>Git</li>
    <li>Python(fluent)</li>
    <li>CSS</li>
    <li>Using build tools like Gulp || Yarn || Grunt</li>
  </ul>
  <h2>Interests</h2>
  <ul>
    <li>Cryptocurrency</li>
    <li>Cybersecurity</li>
    <li>Automation</li>
    <li>Hacking Productivity</li>
  </ul>
</div>

<% include partials/footer%>