<% include partials/header%>
<body>
	<div>
		<hr>
		<p>
			<a href="https://cpustejovsky.github.io">cpustejovsky</a> | <a href="https://github.com/cpustejovsky" target="_blank">GitHub</a> | <a href="reading.html" target="_blank">Reading
				List</a> | <a href="https://medium.com/@cpustejovsky" target="_blank">Blog</a> | <a href="https://twitter.com/CCPustejovsky"
			target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> | <a href="https://www.reddit.com/user/cpustejovsky"
			target="_blank"><i class="fa fa-reddit-square" aria-hidden="true"></i></a>
		</p>
		<hr>
		<h1><i class="js square icon blue"></i>cpustejovsky</h1>
    <ul>
      <li>Link to: Blog, Reading List, Github, About Me</li>
      <li>List Projects in a Drop-Down Menu</li>
    </ul>
<% include partials/footer%>