<% include partials/header%>
<div class="container homepage__text">
  <br />
  <div class="row">
    <div class="col-md-6">
      <h3>Howdy!</h3>
      <p>
        I'm Charles Pustejovsky. I'm working to align my career path with my
        <strong>ikigai</strong>. Ikigai is something you're passionate about,
        talented at, can have a career in, and can help the world with.
      </p>
      <p>
        After years of searching and learning,
        <strong><a href="https://medium.com/@cpustejovsky/do-what-you-love-445711971a3" target="_blank">I realized my ikigai is programming.</a></strong>
        Since then I've been learning as much as I can about computer science,
        JavaScript, and how to build things with code.
      </p>
      <p>
        Learn more about my journey, check out what I'm reading, review one of
        the projects I'm working on, or send me an email.
      </p>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img
          src="/assets/images/ikigai.png"
          alt="ikigai"
          class="homepage-image"
        />
      </div>
    </div>
  </div>
</div>

<% include partials/footer%>
