<% include partials/header%>
<div class="container homepage__text">
  <br />
  <div class="row">
    <div class="col-lg-6">
      <h3>Howdy!</h3>
      <p>
        I'm Charles Pustejovsky. I'm working to align my career path with my
        <strong>ikigai</strong>. Ikigai is something you're passionate about,
        talented at, can have a career in, and can help the world with.
      </p>
      <p>
        After years of searching and learning,
        <strong
          ><a
            href="https://medium.com/@cpustejovsky/do-what-you-love-445711971a3"
            target="_blank"
            >I realized my ikigai is programming.</a
          ></strong
        >
        Since then I've been learning as much as I can about computer science,
        JavaScript, and how to build things with code.
      </p>
      <strong>
        I'm looking for a back-end developer role where I can put my passion and
        skills to work while learning from others with more experience than me.
      </strong>
      <hr />
      <div>
        <a href="/assets/docs/Cpustejovsky_Resume.pdf" target="_blank"
          ><button class="btn btn-primary">Resume</button></a
        >
      </div>
    </div>
    <div class="col-lg-6">
      <div class="thumbnail">
        <img
          src="/assets/images/ikigai.png"
          alt="ikigai"
          class="homepage-image"
        />
      </div>
    </div>
  </div>
  <hr class="spacer" id="about" />
  <div>
    <% include partials/about%>
  </div>
  <hr class="spacer" id="projects" />

  <div>
    <% include partials/projects%>
  </div>
  <hr class="spacer" id="readingList" />

  <div>
    <% include partials/readingList%>
  </div>
  <hr class="spacer" />

  <% include partials/footer%>
</div>
