<% include partials/header%>
  <div class="container homepage__text">
    <br>
    <h1>Howdy!</h1>
    <p>
      I'm Charles Pustejovsky. I'm working to align my career path with my
      <strong>ikigai</strong>, that place where several things meet:
    </p>
    <div class="thumbnail">
      <img src="/assets/images/ikigai.png" alt="ikigai" class="homepage-image" />
    </div>
    <p>
      After years of searching and learning, <strong>I realized my ikigai is programming.</strong>
      Since then I've been learning as much as I can about computer science,
      JavaScript, and how to build things with code.
    </p>
    <p>
      Learn more about my journy, check out what I'm reading, review one of the
      projects I'm working on, or send me an email.
    </p>
  </div>

<% include partials/footer%>