<% include partials/header%>
<body>
	<div class="container">
		<hr>
		<p>
			<a href="https://cpustejovsky.github.io">cpustejovsky</a> | <a href="https://github.com/cpustejovsky" target="_blank">GitHub</a> | <a href="reading.html" target="_blank">Reading
				List</a> | <a href="https://medium.com/@cpustejovsky" target="_blank">Blog</a> | <a href="https://twitter.com/CCPustejovsky"
			target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> | <a href="https://www.reddit.com/user/cpustejovsky"
			target="_blank"><i class="fa fa-reddit-square" aria-hidden="true"></i></a>
		</p>
		<hr>
		<h1><i class="fa fa-laptop" aria-hidden="true"></i> cpustejovsky</h1>
		<h2>Projects</h2>
		<p><a href="catherinecharles.html">Life Together Calculator</a></p>
	<script src="https://use.fontawesome.com/1962659acd.js"></script>
<% include partials/footer%>