<% include ./partials/sepPageHeader %>
<div class="container">
  <h1 class="text-center">Markdown Scratchpad!</h1>
  <section class="row">
    <textarea class="col-md-6 full-height" id="pad">
Write your text here..</textarea
    >
    <div class="col-md-6 full-height" id="markdown"></div>
  </section>
</div>

<script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
<script src="assets/markdown.js"></script>
<% include ./partials/footer %>
