<% include partials/header%>
<body>
  <div class="container homepage__text">
    <br />
    <h1>Reading List</h1>
    <h3>You Don't Know JavaScript</h3>
    <img src="/assets/images/ydkjs.jpeg" alt="YDKJS" class="homepage-image" />
    <p>
      I like to <strong>really</strong> understand what's going on under the
      hood of a language. That's what drew me to this series, to really
      understand what's going on with JavaScript. So far:
    </p>

    <ul class="checklist">
      <li>
        <i class="fa fa-check-square-o green" aria-hidden="true"></i> Up & Going
      </li>
      <li>
        <i class="fa fa-check-square-o green" aria-hidden="true"></i> Scope & Closures
      </li>
      <li>
        <i class="fa fa-check-square-o green" aria-hidden="true"></i> this & Object Prototypes
      </li>
      <li>
        <i class="fa fa-square-o" aria-hidden="true"></i> Async & Performance 
      </li>
      <li><i class="fa fa-square-o" aria-hidden="true"></i> Types & Grammar
      <li><i class="fa fa-square-o" aria-hidden="true"></i> ES6 & Beyond
    </ul>
    
    <h3>Grokking Algorithms</h3>
    <img src="/assets/images/grokking_algorithms.jpg" alt="Grokking Algorithms" class="homepage-image"/>
    <p>
      One of my long-term goals is to slowly learn the concepts and ideas I would have in a traditional computer science course at a university. Grokking Algorithms by Aditya Y. Bhargava is a great place to start that journey. 
    </p>
    <p>
      Until I figure out a way to keep track of this and share that publicly
      with people on Estuary, I'll settle for this
      <a
        href="https://docs.google.com/spreadsheets/d/1cAdHuOGTVYe7BNykO-vEfWNLbaoyXNpSAIfFyh30gy0/edit?usp=sharing"
        target="_blank"
        >Google Spreadsheet that shows off my progress</a
      >.
    </p>
  </div>

  <% include partials/footer%>
