<% include partials/header%>
<body>
<div class="container homepage__text">
  <br />
  <h1>Reading List</h1>
  <h3>You Don't Know JavaScript</h3>
  <img src="/assets/images/ydkjs.jpeg" alt="YDKJS" class="homepage-image">
  <p>
    I like to <strong>really</strong> understand what's going on under the hood
    of a language. That's what drew me to this series, to really understand
    what's going on with JavaScript. So far:
    <ul>
      <li>Up & Going <i class="fa fa-check green" aria-hidden="true"></i></li>
      <li>Scope & Closures <i class="fa fa-check green" aria-hidden="true"></i></li>
      <li>this & Object Prototypes</li>
      <li>Types & Grammar</li>
      <li>Async & Performance</li>
      <li>ES6 & Beyond</li>
    </ul>
    
  <h3>Crash Course Computer Science</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/tpIctyqH29Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p>
    Not really "reading", but a nice overview of computer science to get my feet
    wet before diving deeper into algorithms, data structures, and how CPUs work
    under the hood.
  </p>
</div>



<% include partials/footer%>