<% include partials/sepPageHeader %>

<body>
  <div class="container homepage__text">
    <h1 style="text-align: center;">
      Resources
    </h1>
    <p>These are some links that I keep coming back to so I'm collecting them in a single place for future
      reference.</p>
    <p>Hopefully, I can organize and expand on this list and this will end up being a resource for others diving deeper
      into JavaScript programming.</p>
    <h3>Technology</h3>
    <ul>
      <li>
        <a href="https://www.freecodecamp.org/news/avoiding-the-async-await-hell-c77a0fb71c4c/">How to escape
          async/await hell</a>
      </li>
      <li>
        <a href="https://dev.to/lauragift21/the-art-of-googling-4c04">The Art of Googling</a>
      </li>
    </ul>
    <h3>Theology/Spirituality</h3>
    <ul>
      <li><a href="https://blogs.ancientfaith.com/morningoffering/2017/08/shame/">Shame | The Morning Offering</a></li>
    </ul>
    <% include partials/footer %>