hr {
  border-top: 1px solid #bababa;
}
.homepage-image {
  max-width: 600px;
  width: 100%;
}

.thumbnail {
  text-align: center;
}

.footer {
  text-align: right;
}
/* .homepage__container {
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0px 0px 5px #676767;
}

.homepage__text {
  padding: 10%;
} */
